<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE 341 | Christopher Harper | BYU-Idaho </title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/small.css">
  <link rel="stylesheet" href="css/middle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/nodejs/server.js"></script>
</head>

<body>

  <main>


  <div class="cartLink">

    <form action="customer" method="GET">
      <input id="button" class="button" type="submit" value="Update Customer">
    </form><br>

    <form action="orders" method="GET">
      <input id="button" class="button" type="submit" value="Order Details">
    </form>
 
  </div>
  

  <div class="flex">
    <form action="addOrder" method="post">
    <div class="guitarOne">
      <img src="photos/guitarOne.jpg" alt="Guitar One">
      <div class="priceButton">
      <h2 class="h2Shadow"><%= info[0].guitarname %></h2>
      <p class="price"><%= info[0].price %></p>
      <select name="customer" class="select" required>
        <option value="">Please Select a Customer</option>
              <option value='<%= customer[0].userid %>'><%= customer[0].username %></option>
              <option value='<%= customer[1].userid %>'><%= customer[1].username %> </option>
              <option value='<%= customer[2].userid %>'><%= customer[2].username %></option>
              <option value='<%= customer[3].userid %>'><%= customer[3].username %> </option>
            </select><br>
      <input type="hidden" name="guitar" value="Acoustic Guitar">
      <input type="hidden" name="price" value="700">
      <input type="hidden" name="guitarid" value="1">
      <input type="submit" value="Add To Cart" class="button">
    </form>
    </div>
    </div>

    <form action="addOrder" method="post">
    <div class="guitarTwo">
      <img src="photos/guitarTwo.jpg" alt="Guitar Two">
      <div class="priceButton">
      <h2 class="h2Shadow"><%= info[1].guitarname %></h2>
      <p class="price"><%= info[1].price %></p>
      <select name="customer" class="select" required>
        <option value="">Please Select a Customer</option>
              <option value='<%= customer[0].userid %>'><%= customer[0].username %></option>
              <option value='<%= customer[1].userid %>'><%= customer[1].username %></option>
              <option value='<%= customer[2].userid %>'><%= customer[2].username %></option>
              <option value='<%= customer[3].userid %>'><%= customer[3].username %></option>
            </select><br>
      <input type="hidden" name="guitar" value="Electric Guitar">
      <input type="hidden" name="price" value="1200">
      <input type="hidden" name="guitarid" value="2">
      <input type="submit" value="Add To Cart" class="button">
    </form>
    </div>
    </div>

    <form action="addOrder" method="post">
    <div class="guitarThree">
      <img src="photos/guitarThree.jpg" alt="Guitar Three">
      <div class="priceButton">
      <h2 class="h2Shadow"><%= info[2].guitarname %></h2>
      <p class="price"><%= info[2].price %></p>
      <select name="customer" class="select" required>
        <option value="">Please Select a Customer</option>
              <option value='<%= customer[0].userid %>'><%= customer[0].username %></option>
              <option value='<%= customer[1].userid %>'><%= customer[1].username %></option>
              <option value='<%= customer[2].userid %>'><%= customer[2].username %></option>
              <option value='<%= customer[3].userid %>'><%= customer[3].username %></option>
            </select><br>
      <input type="hidden" name="guitar" value="Fender Guitar">
      <input type="hidden" name="price" value="350">
      <input type="hidden" name="guitarid" value="3">
      <input type="submit" value="Add To Cart" class="button">
    </form>
    </div>
    </div>
  </div>

  <div class="flex">
  <form action="addOrder" method="post">
    <div class="guitarFour">
      <img src="photos/guitarFour.jpg" alt="Guitar Four">
      <div class="priceButton">
      <h2 class="h2Shadow"><%= info[3].guitarname %></h2>
      <p class="price"><%= info[3].price %></p>
      <select name="customer" class="select" required>
        <option value="">Please Select a Customer</option>
              <option value='<%= customer[0].userid %>'><%= customer[0].username %></option>
              <option value='<%= customer[1].userid %>'><%= customer[1].username %></option>
              <option value='<%= customer[2].userid %>'><%= customer[2].username %></option>
              <option value='<%= customer[3].userid %>'><%= customer[3].username %></option>
            </select><br>
      <input type="hidden" name="guitar" value="Acoustic-Electric Guitar">
      <input type="hidden" name="price" value="400">
      <input type="hidden" name="guitarid" value="4">
      <input type="submit" value="Add To Cart" class="button">
    </form>
    </div>
    </div>

    <form action="addOrder" method="post">
    <div class="guitarFive">
      <img src="photos/guitarFive.jpg" alt="Guitar Five">
      <div class="priceButton">
      <h2 class="h2Shadow"><%= info[4].guitarname %></h2>
      <p class="price"><%= info[4].price %></p>
      <select name="customer" class="select" required>
        <option value="">Please Select a Customer</option>
              <option value='<%= customer[0].userid %>'><%= customer[0].username %></option>
              <option value='<%= customer[1].userid %>'><%= customer[1].username %></option>
              <option value='<%= customer[2].userid %>'><%= customer[2].username %></option>
              <option value='<%= customer[3].userid %>'><%= customer[3].username %></option>
            </select><br>
      <input type="hidden" name="guitar" value="Classical Guitar">
      <input type="hidden" name="price" value="250">
      <input type="hidden" name="guitarid" value="5">
      <input type="submit" value="Add To Cart" class="button">
    </form>
    </div>
    </div>

    <form action="addOrder" method="post">
    <div class="guitarSix">
      <img src="photos/guitarSix.jpg" alt="Guitar Six">
      <div class="priceButton">
      <h2 class="h2Shadow"><%= info[5].guitarname %></h2>
      <p class="price"><%= info[5].price %></p>
      <select name="customer" class="select" required>
        <option value="">Please Select a Customer</option>
              <option value='<%= customer[0].userid %>'><%= customer[0].username %></option>
              <option value='<%= customer[1].userid %>'><%= customer[1].username %></option>
              <option value='<%= customer[2].userid %>'><%= customer[2].username %></option>
              <option value='<%= customer[3].userid %>'><%= customer[3].username %></option>
            </select><br>
      <input type="hidden" name="guitar" value="Gibson Guitar">
      <input type="hidden" name="price" value="900">
      <input type="hidden" name="guitarid" value="6">
      <input type="submit" value="Add To Cart" class="button">
    </form>
    </div>
    </div>
  </div>
  </main>

</body>

</html>
